<div class="dashboard">
  <form class="search-container" [formGroup]="formDashboard">
    <h3>Filtrar por mês e ano</h3>

    <div class="inputs">
      <mat-form-field appearance="fill" class="input-item">
        <mat-label>Mês</mat-label>
        <mat-select formControlName="mes">
          <mat-option>Selecione o mês</mat-option>
          <mat-option *ngFor="let month of months" [value]="month.value">{{
            month.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-item">
        <mat-label>Ano</mat-label>
        <mat-select formControlName="ano">
          <mat-option *ngFor="let year of years" [value]="year.value">{{
            year.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-mini-fab
        type="button"
        color="primary"
        aria-label="Buscar por parâmetros"
        [disabled]="formDashboard.invalid"
        (click)="getEntradas()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>

  <div class="content">
    <div class="cards-itens">
      <mat-card class="finance-card receita">
        <mat-card-content class="finance-card__content">
          <div>
            <mat-card-title class="finance-card__title">
              Receitas Totais
            </mat-card-title>
            <p class="finance-card__currency">
              {{ receita | currency : "BRL" }}
            </p>
          </div>
          <div class="finance-card__icon">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="finance-card despesa">
        <mat-card-content class="finance-card__content">
          <div>
            <mat-card-title class="finance-card__title">
              Despesas Totais
            </mat-card-title>
            <p class="finance-card__currency">
              {{ despesa | currency : "BRL" }}
            </p>
          </div>
          <div class="finance-card__icon">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="finance-card saldo">
        <mat-card-content class="finance-card__content">
          <div>
            <mat-card-title class="finance-card__title">
              Saldo Total
            </mat-card-title>
            <p class="finance-card__currency">
              {{ saldo | currency : "BRL" }}
            </p>
          </div>
          <div class="finance-card__icon">
            <mat-icon>bar_chart</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <app-chart [entradas]="fullEntradas"></app-chart>
  </div>
</div>
