.chart__container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f2f3f5;
}

.chart__title {
  text-align: center;
  color: #666;
  margin: 0 0 4px;
}

.chart {
  height: 400px;
  width: 600px;
}
